@model IEnumerable<Anastock.Models.ProductAndService>

@{
    ViewData["Title"] = "Index";
}


<a class="btn btn-primary" asp-action="AddProduct">Add Product/Service</a>
<br />
<br />


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-controller="MasterData" asp-action="EditProduct" asp-route-id="@item.Id">Edit</a>
                    <a asp-controller="MasterData" asp-action="DeleteProduct" asp-route-productId="@item.Id"
                       onclick="return confirm ('Are you sure want to delete product?');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*@section myScripts {
    <script src="js/slides.min.jquery.js"></script>
    
}*@