@model IEnumerable<Customer>

@{
    ViewBag.Title = "Customer";
    ViewBag.reloadCustomer = "true";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Customer</strong>
            </div>
            <div class="card-body">

                <a asp-action="Create" class="btn btn-primary btn-sm m-1 popup float-right" data-toggle="modal" data-target="#modalCreateEditCustomer" id="btnNewCustomer">
                    <i class="fa fa-plus"></i> New
                </a>
                <table id="dtCustomer" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Customer Email</th>
                            <th>Description</th>
                            <th>Website</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @foreach (var Customer in Model)
                    {
                        <tr>
                            <td>@Customer.CustomerName</td>
                            <td>@Customer.CustomerEmail</td>
                            <td>@Customer.Description</td>
                            <td>@Customer.Website</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fa fa-sm fa-ellipsis-v"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a asp-action="Edit" asp-route-CustomerId="@Customer.CustomerId" class="dropdown-item text-muted m-1 popup" data-toggle="modal" data-target="#modalCreateEditCustomer" id="btnEditCustomer">
                                            <span class='fa fa-edit'></span> Edit
                                        </a>
                                        <button type="button" class="dropdown-item text-muted m-1" data-toggle="modal" data-target="modal_@Customer.CustomerId"
                                                id="btnDeletePopUp" onclick="javascript: modalDelete('@Customer.CustomerId', '@Customer.CustomerName');">
                                            <span class='fa fa-trash-alt'></span> Delete
                                        </button>
                                    </div>
                                </div>


                            </td>
                        </tr>
                    }



                </table>
            </div>
        </div>
    </div>
</div>

@*CREATE EDIT MODAL*@
<div aria-hidden="true" role="dialog" tabindex="-1" id="modalCreateEditCustomer" class="modal fade">
    <div class="modal-dialog modal-lg" role="document" id="modalDialogCustomer">

    </div>
</div>

@*DELETE MODAL*@
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form enctype="multipart/form-data" asp-controller="Customer" asp-action="Delete" method="post" class="mt-3"
                  id="formCreateCustomer" name="formCreateCustomer" onsubmit="SubmitFormDelete(this); return false;">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                </div>
                <input type="hidden" id="hdfCustomerId" />
                <div class="modal-body">
                    <p id="lblDelete"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="btnDelete" type="submit" class="btn btn-danger mr-1">Delete</button>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/customer.js"></script>
    <script>
        var table = $('#dtCustomer');
        var reloadCustomer = "@ViewBag.reloadCustomer";

        $(document).ready(function () {
            table = $('#dtCustomer').DataTable({
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });

        $(".popup").click(function (e) {
            var url = $(this).attr('href');;
            modalCreateEdit(url);
        });

        function modalCreateEdit(url) {
            $('#hdfCustomerId').val('0');
            $.get(url).done(function (data) {
                debugger;
                $.validator.unobtrusive.parse('#modalCreateEditCustomer');
                $('#modalCreateEditCustomer').find(".modal-dialog").html(data);
                $('#modalCreateEditCustomer > .modal', data).modal("show");
            });
        };

        function modalDelete(CustomerId, CustomerName) {
            $('#hdfCustomerId').val(CustomerId);
            bootbox.confirm({
                size: "large",
                message: "Delete Customer [" + CustomerName + "]?",
                callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                    if (result) {
                        var CustomerId = $('#hdfCustomerId').val();
                        var url = "/Customer/Delete";

                        SubmitFormDelete(url, CustomerId);
                    }
                }
            })
        };
    </script>
}
